<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yao.android_question">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.yao.application.myApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".zhuce" />
        <activity android:name=".sousuo" />
        <activity
            android:name=".fenlei"
            android:theme="@style/style_actionbar" />
        <activity android:name=".question_activity" />
        <activity android:name=".question_list"></activity>
    </application>

</manifest>